  <html xmlns:th="http://www.thymeleaf.org">
 <div th:fragment="menu">
	<!-- divider -->
	<hr class="sidebar-divider d-none d-md-block">
 	<li th:replace="~{common/fragments/item/hr::hr}"></li>
	<!-- divider -->
	<hr class="sidebar-divider d-none d-md-block">
	
 	<li th:replace="~{common/fragments/item/bsn::bsn}"></li>
	<!-- divider -->
	<hr class="sidebar-divider d-none d-md-block">
 	
 	<li th:replace="~{common/fragments/item/purchs::purchs}"></li>
	<!-- divider -->
	<hr class="sidebar-divider d-none d-md-block">
 	
 	<li th:replace="~{common/fragments/item/acc::acc}"></li>
</div>
</html>