<!--
============================================
	- 작성자   : 복성민
	- 최초작성 : 2025-06-18 
	- 설명    : ERP 페이지 sidebar 모듈
--------------------------------------------
	[ 변경 이력 ]
	- 2025-06-18 (복성민): 파일생성 및 기본 코드 추가
	- 2025-06-21 (복성민): 로고 클릭 시 '/' 경로로 이동하도록 수정
============================================
-->
<ul th:fragment="sidebar"
	class="navbar-nav bg-gradient-sidebar sidebar sidebar-dark accordion"
	id="accordionsidebar">

	<!-- divider -->
	<hr class="sidebar-divider my-0">

	<!-- nav item - dashboard -->
 	<li class="nav-item active">
	 	<a class="nav-link" href="/">
				<i class="fas fa-fw fa-tachometer-alt"></i>
				<span>dashboard</span>
		</a>
	</li>

	<!-- divider -->
<!-- 	<hr class="sidebar-divider"> -->

	<!-- heading -->
<!-- 	<div class="sidebar-heading">interface</div> -->

	<!-- nav item - pages collapse menu -->
<!-- 	<li class="nav-item"><a class="nav-link collapsed" href="#"
		data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true"
		aria-controls="collapsetwo"> <i class="fas fa-fw fa-cog"></i> <span>components</span>
	</a>
		<div id="collapsetwo" class="collapse" aria-labelledby="headingtwo"
			data-parent="#accordionsidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">custom components:</h6>
				<a class="collapse-item" href="buttons.html">buttons</a> <a
					class="collapse-item" href="cards.html">cards</a>
			</div>
		</div></li> -->

	<!-- nav item - utilities collapse menu -->
<!-- 	<li class="nav-item"><a class="nav-link collapsed" href="#"
		data-toggle="collapse" data-target="#collapseutilities"
		aria-expanded="true" aria-controls="collapseutilities"> <i
			class="fas fa-fw fa-wrench"></i> <span>utilities</span>
	</a>
		<div id="collapseutilities" class="collapse"
			aria-labelledby="headingutilities" data-parent="#accordionsidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">custom utilities:</h6>
				<a class="collapse-item" href="utilities-color.html">colors</a> <a
					class="collapse-item" href="utilities-border.html">borders</a> <a
					class="collapse-item" href="utilities-animation.html">animations</a>
				<a class="collapse-item" href="utilities-other.html">other</a>
			</div>
		</div></li> -->

	<!-- divider -->
<!-- 	<hr class="sidebar-divider"> -->

	<!-- heading -->
<!-- 	<div class="sidebar-heading">addons</div> -->

	<!-- nav item - pages collapse menu -->
<!-- 	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsepages" aria-expanded="true" aria-controls="collapsepages">
			<i class="fas fa-fw fa-folder"></i>
			<span>pages</span>
		</a>
		<div id="collapsepages" class="collapse" aria-labelledby="headingpages" data-parent="#accordionsidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">login screens:</h6>
				<a class="collapse-item" href="login.html">login</a>
				<a class="collapse-item" href="register.html">register</a>
				<a class="collapse-item" href="forgot-password.html">forgot password</a>
				<div class="collapse-divider"></div>
				<h6 class="collapse-header">other pages:</h6>
				<a class="collapse-item" href="404.html">404 page</a>
				<a class="collapse-item" href="blank.html">blank page</a>
			</div>
		</div>
	</li> -->

	<!-- nav item - charts -->
<!-- 	<li class="nav-item"><a class="nav-link" href="charts.html"> <i
			class="fas fa-fw fa-chart-area"></i> <span>charts</span>
	</a></li> -->

	<!-- nav item - tables -->
<!-- 	<li class="nav-item"><a class="nav-link" href="tables.html"> <i
			class="fas fa-fw fa-table"></i> <span>tables</span>
	</a></li> -->

	<!-- divider -->
<!-- 	<hr class="sidebar-divider d-none d-md-block"> -->
	
	<!-- ERP MENU -->
	<div th:replace="~{common/fragments/menu::menu}"></div>

	<!-- sidebar toggler (sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>

	<!-- sidebar message -->
	<div class="sidebar-card d-none d-lg-flex">
		<img class="sidebar-card-illustration mb-2"
			th:src="@{/bootstrap/img/undraw_rocket.svg}" alt="...">
		<p class="text-center mb-2">
			<strong>sb admin pro</strong> is packed with premium features,
			components, and more!
		</p>
		<a class="btn btn-success btn-sm"
			href="https://startbootstrap.com/theme/sb-admin-pro">upgrade to
			pro!</a>
	</div>

</ul>