<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
===========================================
  - 파일명   : SubscriptionMapper.xml
  - 설명     : 구독 정보 관련 SQL 정의
===========================================
  [작성 정보]
  - 작성자   : 복성민 (bokseongmin@gmail.com)
  - 최초작성 : 2025-06-20
===========================================
  [변경 이력]
  - 2025-06-20 : 최초 생성 (복성민)
  - 2025-06-22 : 구독 패키지 정보 조회 (복성민)
  - 2025-06-23 : 구독 패키지 상세 등록 (복성민)
===========================================
-->
<mapper namespace="com.eflix.erp.mapper.SubscriptionMapper">
    <!-- 
     * 모든 구독 정보를 가져온다.
     *
     * @param
     * @return SubscriptionDTO
	-->
    <select id="findAll" resultType="SubscriptionDTO">
        SELECT * FROM subscription
    </select>

    <!-- 
     * 구독 패키지 정보를 가져온다.
     *
     * @param String
     * @return SubscriptionPackageDTO
	-->
    <select id="findById" parameterType="String" resultType="SubscriptionPackageDTO">
        SELECT spk_idx, spk_name, spk_max, spk_price
        FROM subscription_packages
        WHERE spk_idx = #{spkIdx}
    </select>

    <!-- 
     * 구독 패키지 상세를 등록한다.
     *
     * @param SubscriptionPackageDetailDTO
     * @return int
	-->
    <insert id="insertSubscriptionPackageDetail" parameterType="SubscriptionPackageDetailDTO">
        INESRT INTO subscription_package_details(spd_idx, spk_idx, module_idx)
        VALUES(NVL(MAX(TO_NUMBER(SUBSTR(spd_idx, 4))), 100) + 1, #{spkIdx}, #{module_idx})
    </insert>
</mapper>