<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
===========================================
  - 파일명   : SubscriptionMapper.xml
  - 설명     : 구독 정보 관련 SQL 정의
===========================================
  [작성 정보]
  - 작성자   : 복성민 (bokseongmin@gmail.com)
  - 최초작성 : 2025-06-20
===========================================
  [변경 이력]
  - 2025-06-20 : 최초 생성 (복성민)
===========================================
-->
<mapper namespace="com.eflix.erp.mapper.SubscriptionMapper">
    <!-- ===================================== -->
    <!-- 구독 전체 조회                        -->
    <!-- @author 복성민 -->
    <!-- @since 2025-06-20 -->
    <!-- ===================================== -->
    <select id="findAll" resultType="SubscriptionDTO">
        SELECT * FROM subscription
    </select>
</mapper>