<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
===========================================
  - 파일명   : DashboardMapper.xml
  - 설명     : 관리자 페이지 - 대시보드 관련 정의
===========================================
  [작성 정보]
  - 작성자   : 복성민 (bokseongmin@gmail.com)
  - 최초작성 : 2025-07-01
===========================================
  [변경 이력]
  - 2025-07-01: 최초 생성 (복성민)
===========================================
-->
<mapper namespace="com.eflix.main.mapper.DashboardMapper">
    <select id="countActiveSubscribers" resultType="int">
        SELECT COUNT(*) FROM subscription WHERE spi_status = 'SS01'
    </select>

    <select id="countSubscriptionRequests" resultType="int">
        SELECT COUNT(*) FROM subscription WHERE spi_status = 'SS02'
    </select>

    <select id="countUnansweredQuestions" resultType="int">
        SELECT COUNT(*) 
        FROM questions q 
        WHERE NOT EXISTS (
            SELECT 1 FROM answers a WHERE a.qst_idx = q.qst_idx
        )
    </select>

    <select id="countTodayAnswers" resultType="int">
        SELECT COUNT(*) 
        FROM answers 
        WHERE TRUNC(ansr_regdate) = TRUNC(SYSDATE)
    </select>

    <select id="selectTodaySubscriptions" resultType="SubscriptionDTO">
        SELECT spi_idx, co_idx, spi_start 
        FROM subscription 
        WHERE TRUNC(spi_start) = TRUNC(SYSDATE)
    </select>

    <select id="selectTodayAnswers" resultType="InquirySummaryDTO">
        SELECT ansr_idx, qst_idx, ansr_title, ansr_regdate 
        FROM answers 
        WHERE TRUNC(ansr_regdate) = TRUNC(SYSDATE)
    </select>

    
    <!-- 0706 -->
    <select id="findAllSubscriptions" resultType="SubscriptionDTO">
        SELECT *
        FROM (
            SELECT
                c.co_name,
                s.spi_start,
                sp.spk_name
            FROM companies c
                JOIN subscription s ON c.co_idx = s.co_idx
                JOIN subscription_packages sp ON s.spk_idx = sp.spk_idx
            ORDER BY s.spi_start DESC
        )
        WHERE ROWNUM &lt;= 5
    </select>

    <select id="findAllQuestions" resultType="QuestionDTO">
        SELECT q.qst_idx, q.qst_title, q.qst_writer, q.qst_content, q.qst_regdate, q.qst_email, q.qst_tel
        FROM questions q
            LEFT JOIN answers a ON q.qst_idx = a.qst_idx
        WHERE a.qst_idx IS NULL
    </select>
</mapper>