<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
===========================================
  - 파일명   : InquiryMapper.xml
  - 설명     : 문의 관련 SQL 정의
===========================================
  [작성 정보]
  - 작성자   : 복성민 (bokseongmin@gmail.com)
  - 최초작성 : 2025-06-20
===========================================
  [변경 이력]
  - 2025-06-20 : 최초 생성 (복성민)
===========================================
-->
<mapper namespace="com.eflix.main.mapper.InquiryMapper">
    <!-- ===================================== -->
    <!-- 문의 전체 조회                        -->
    <!-- @author 복성민 -->
    <!-- @since 2025-06-20 -->
    <!-- ===================================== -->
    <select id="findAllQuestions" resultType="QuestionDTO">
        SELECT * FROM questions
    </select>

    <!-- ===================================== -->
    <!-- 답변 전체 조회                        -->
    <!-- @author 복성민 -->
    <!-- @since 2025-06-20 -->
    <!-- ===================================== -->
    <select id="findAllAnswers" resultType="AnswerDTO">
        SELECT * FROM answers
    </select>

    <!-- ===================================== -->
    <!-- 문의 등록                        -->
    <!-- @author 복성민 -->
    <!-- @since 2025-06-26 -->
    <!-- ===================================== -->
    <insert id="insertQst" parameterType="QuestionDTO">
        <selectKey resultType="String" keyProperty="qstIdx" order="BEFORE">
            SELECT 'qst-' || TO_CHAR(NVL(MAX(TO_NUMBER(SUBSTR(qst_idx, 5))), 100) + 1) FROM questions
        </selectKey>
        INSERT INTO questions(qst_idx, qst_title, qst_writer, qst_content, qst_email, qst_tel, qst_regdate)
        VALUES(#{qstIdx}, #{qstTitle}, #{qstWriter}, #{qstContent}, #{qstEmail}, #{qstTel}, SYSDATE)
    </insert>
</mapper>