<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
===========================================
  - 파일명   : MasterMapper.xml
  - 설명     : 구독 정보 관련 SQL 정의
===========================================
  [작성 정보]
  - 작성자   : 복성민 (bokseongmin@gmail.com)
  - 최초작성 : 2025-06-25
===========================================
  [변경 이력]
  - 2025-06-25 : 최초 생성 (복성민)
===========================================
-->
<mapper namespace="com.eflix.main.mapper.MasterMapper">
    <insert id="insertMaster" parameterType="MasterDTO">
        <selectKey resultType="String" keyProperty="mstIdx" order="BEFORE">
            SELECT 'mst-' || TO_CHAR(NVL(MAX(TO_NUMBER(SUBSTR(mst_idx, 5))), 100) + 1) FROM master
        </selectKey>
        INSERT INTO master(mst_idx, co_idx, mst_id, mst_pw, mst_name, mst_email)
        VALUES(#{mstIdx}, #{coIdx}, #{mstId}, #{mstPw}, #{mstName}, #{mstEmail})
    </insert>

    <!-- 0715 -->
    <select id="existMstId" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM master
        WHERE mst_id = #{mstId}
    </select>
</mapper>