<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
===========================================
  - 파일명   : PaymentMapper.xml
  - 설명     : 구독 모듈 관련 SQL 정의
===========================================
  [작성 정보]
  - 작성자   : 복성민 (bokseongmin@gmail.com)
  - 최초작성 : 2025-06-23
===========================================
  [변경 이력]
  - 2025-06-23 : 최초 생성 (복성민)
===========================================
-->
<mapper namespace="com.eflix.common.payment.mapper.PaymentMapper">
    <!-- ===================================== -->
    <!-- 구독 모듈 전체 조회                        -->
    <!-- @author 복성민 -->
    <!-- @since 2025-06-20 -->
    <!-- ===================================== -->
    <select id="findPaymentById" resultType="PaymentEntity">
        SELECT payment_id, status
        FROM payments
        WHERE payment_id = #{paymentId}
    </select>
    
    <insert id="insertPayment" parameterType="PaymentEntity">
        INSERT INTO payments (payment_id, status)
        VALUES (#{paymentId}, #{status})
    </insert>

    <update id="updatePayment" parameterType="PaymentEntity">
        UPDATE payments
        SET status = #{status}
        WHERE payment_id = #{paymentId}
    </update>
</mapper>