<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/default}">

<head>
  <title>주문서 조회</title>
</head>
<div layout:fragment="content">
  <div class="w-100" id="account">
    <div class="d-flex justify-content-between align-items-center mb-1">
      <h3>주문서 조회</h3>
    </div>
    <div class="table-responsive">
      <button onclick="showAlert()">알림창 띄우기</button>
      <div class="my-3">
        <div id="myGrid" class="ag-theme-alpine" style="width:100%; height:400px;"></div>
      </div>
    </div>
  </div>
  <script th:inline="javascript">
    let gridApi;
    const rowData = [[${ordersList}]];
    const gridOptions = {
      rowData: rowData,
      columnDefs: [
        { headerName: '주문번호', field: 'orderNo' },
        { headerName: '주문일자', field: 'orderDt' },
        { headerName: '납기일자', field: 'deliveryDt' },
        { headerName: '거래처코드', field: 'customerCd' },
        { headerName: '담당자', field: 'empCd' },
        { headerName: '창고', field: 'warehouseCd' },
        { headerName: '결제조건', field: 'paymentTerms' },
        { headerName: '세금계산서발행', field: 'taxInvoiceIssueYn' }
      ],
      defaultColDef: { flex: 1 },
    };
    gridApi = agGrid.createGrid(document.querySelector("#myGrid"), gridOptions);

    function showAlert() {
      Swal.fire({
        title: '성공!',
        text: '작업이 성공적으로 완료되었습니다.',
        icon: 'success',
        confirmButtonText: '확인'
      });
    }
  </script>
</div>