<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ============================================
  - 작성자   : 김어진
  - 최초작성 : 2025-06-20
  - 설명     : EmployeesMapper query xml
  [ 변경 이력 ]
  - 2025-06-19 (김어진): 계정과목 전체조회 작성
  - 2025-06-23 (김어진): 사원관리 조건별 조회 쿼리문 작성
  - 2025-06-24 (김어진): 사원관리 조건별 조회 구현 및 사원등록 쿼리문 작성
  - 2025-06-24 (김어진): 사원수정 구현 및 사원수정 쿼리문 작성
=============================================== -->
<mapper namespace="com.eflix.hr.mapper.EmployeeMapper">
  
<select id="selectAll" parameterType="map" resultType="EmployeeDTO">
    SELECT DISTINCT
        e.emp_idx,
        e.emp_name,
        e.dept_idx,
        d.dept_name,
        e.emp_grade,
        e.emp_status,
        e.emp_type,
        e.emp_email,
        e.emp_regdate,
        e.emp_account,
        e.emp_memo,
        e.emp_addr,
        e.emp_addr_detail,
        e.emp_addr_zip
    FROM employees e
    LEFT JOIN departments d ON e.dept_idx = d.dept_idx
    <where>
        <!-- 선택한 '상위 부서'만 필터링 -->
        <if test="deptUpIdx != null and deptUpIdx != '' and deptUpIdx != '선택'">
            AND (d.dept_up_idx = #{deptUpIdx} OR d.dept_idx = #{deptUpIdx})
        </if>
        
        <!-- 선택한 '상세 부서'만 필터링 -->
        <if test="deptIdx != null and deptIdx != '' and deptIdx != '선택'">
            AND e.dept_idx = #{deptIdx}
        </if>
        
        <!-- 선택한 '직급'만 필터링 -->
        <if test="empGrade != null and empGrade != '' and empGrade != '선택'">
            AND (e.emp_grade = #{empGrade} OR e.emp_grade LIKE '%' || #{empGrade} || '%')
        </if>
        
        <!-- 선택한 '재직 상태'만 필터링 -->
        <if test="empStatusType != null and empStatusType != '' and empStatusType != '선택'">
            AND e.emp_status = #{empStatusType}
        </if>
        

        
        <!-- 검색 키워드 & 옵션 처리 -->
        <if test="keyword != null and keyword != '' and keyword != '선택'">
            <choose>
                <when test="option != null and option == 'empIdx' and option != '전체'">
                    AND e.emp_idx LIKE '%' || #{keyword} || '%'
                </when>
                <when test="option != null and option == 'empName' and option != '전체'">
                    AND e.emp_name LIKE '%' || #{keyword} || '%'
                </when>
                <otherwise>
                    <!-- 옵션이 없거나 그 외의 값일 때 둘 다 검색 -->
                    AND (
                        e.emp_idx LIKE '%' || #{keyword} || '%'
                        OR e.emp_name LIKE '%' || #{keyword} || '%'
                    )
                </otherwise>
            </choose>
        </if>
        AND e.co_idx = #{coIdx}
    </where>
    ORDER BY e.emp_idx ASC
</select>

    <!-- 직급 드롭다운 조회 -->
    <select id="gradeList" resultType="EmployeeDTO">
      SELECT DISTINCT emp_grade FROM employees WHERE co_idx = #{coIdx}
    </select>

    <!-- 재직 상태 드롭다운 조회 -->
    <select id="empStatusList" resultType="EmployeeDTO">
        SELECT DISTINCT emp_status FROM employees WHERE co_idx = #{coIdx}
    </select>

<!-- 사원 등록 -->
<insert id="insertEmp" parameterType="EmployeeDTO">
    <selectKey resultType="String" keyProperty="empIdx" order="BEFORE">
        SELECT 'emp-' || TO_CHAR(NVL(MAX(TO_NUMBER(SUBSTR(emp_idx, 5))), 100) + 1) FROM employees
    </selectKey>
    INSERT INTO employees (
        emp_idx,
        emp_name,
        rrn_pfx,
        rrn_sfx,
        emp_email,
        dept_idx,
        emp_grade,
        emp_type,
        emp_regdate,
        emp_account,
        emp_phone,
        emp_pw,
        emp_addr,
        emp_addr_detail,
        emp_addr_zip,
        co_idx,
        emp_img
    ) VALUES (
        #{empIdx},
        #{empName},
        #{rrnPfx},
        #{rrnSfx},
        #{empEmail},
        #{deptIdx},
        #{empGrade},
        #{empType},
        #{empRegdate},
        #{empAccount},
        #{empPhone},
        #{empPw},
        #{empAddr},
        #{empAddrDetail},
        #{empAddrZip},
        #{coIdx},
        #{empImg}
    )
</insert>

<!-- 사원 수정 -->
<update id="update" parameterType="EmployeeDTO">
    UPDATE employees
    <set>
        <if test="empName != null and empName != ''">
            emp_name = #{empName},
        </if>
        <if test="rrnPfx != null and rrnPfx != ''">
            rrn_pfx = #{rrnPfx},
        </if>
        <if test="rrnSfx != null and rrnSfx != ''">
            rrn_sfx = #{rrnSfx},
        </if>
        <if test="empEmail != null and empEmail != ''">
            emp_email = #{empEmail},
        </if>
        <if test="deptIdx != null and deptIdx != ''">
            dept_idx = #{deptIdx},
        </if>
        <if test="empGrade != null and empGrade != ''">
            emp_grade = #{empGrade},
        </if>
        <if test="empType != null and empType != ''">
            emp_type = #{empType},
        </if>
        <if test="empRegdate != null">
            emp_regdate = #{empRegdate},
        </if>
        <if test="empAccount != null and empAccount != ''">
            emp_account = #{empAccount},
        </if>
        <if test="empPhone != null and empPhone != ''">
            emp_phone = #{empPhone},
        </if>
        <if test="empPw != null and empPw != ''">
            emp_pw = #{empPw},
        </if>
        <if test="empAddr != null and empAddr != ''">
            emp_addr = #{empAddr},
        </if>
        <if test="empAddrDetail != null and empAddrDetail != ''">
            emp_addr_detail = #{empAddrDetail},
        </if>
        <if test="empAddrZip != null and empAddrZip != ''">
            emp_addr_zip = #{empAddrZip},
        </if>
        <if test="empImg != null and empImg != ''">
            emp_img = #{empImg},
        </if>
        <if test="baseSalary != null and baseSalary != ''">
            base_salary = #{baseSalary},
        </if>
    </set>
    WHERE emp_idx = #{empIdx} AND co_idx = #{coIdx}
</update>
<!-- 단건조회 -->
<select id="selectById" parameterType="String" resultType="EmployeeDTO">
    SELECT * FROM employees WHERE emp_idx = #{empIdx} AND co_idx = #{coIdx}
</select>

    <!-- 0708 -->
    <select id="findAllEmpRegdateByEmpIdx" parameterType="String" resultType="Date">
        SELECT emp_regdate
        FROM employees
        WHERE emp_idx = #{empIdx}
    </select>

    <!-- 0709 -->
    <select id="findAllEmployeeSearch" parameterType="EmpSearchDTO" resultType="EmployeeDTO">
        SELECT e.emp_idx, e.emp_name, e.emp_status, e.emp_type, e.emp_regdate, e.emp_phone, e.emp_email, e.emp_contract,
            d.dept_name,
            g.grd_name
        FROM employees e
            LEFT JOIN departments d ON e.dept_idx = d.dept_idx
            LEFT JOIN grade g ON e.grd_idx = g.grd_idx
        <where>
            <!-- 선택한 '상위 부서'만 필터링 -->
            <if test="deptUpIdx != null and deptUpIdx != '' and deptUpIdx != '선택'">
                AND (d.dept_up_idx = #{deptUpIdx} OR d.dept_idx = #{deptUpIdx})
            </if>
            
            <!-- 선택한 '상세 부서'만 필터링 -->
            <if test="deptIdx != null and deptIdx != '' and deptIdx != '선택'">
                AND e.dept_idx = #{deptIdx}
            </if>
            
            <!-- 선택한 '직급'만 필터링 -->
            <if test="empGrade != null and empGrade != '' and empGrade != '선택'">
                AND (e.emp_grade = #{empGrade} OR e.emp_grade LIKE '%' || #{empGrade} || '%')
            </if>
            
            <!-- 선택한 '재직 상태'만 필터링 -->
            <if test="empStatus != null and empStatus != '' and empStatus != '선택'">
                AND e.emp_status = #{empStatus}
            </if>
            

            
            <!-- 검색 키워드 & 옵션 처리 -->
            <if test="keyword != null and keyword != '' and keyword != '선택'">
                <choose>
                    <when test="option != null and option == 'empIdx' and option != '전체'">
                        AND e.emp_idx LIKE '%' || #{keyword} || '%'
                    </when>
                    <when test="option != null and option == 'empName' and option != '전체'">
                        AND e.emp_name LIKE '%' || #{keyword} || '%'
                    </when>
                    <otherwise>
                        <!-- 옵션이 없거나 그 외의 값일 때 둘 다 검색 -->
                        AND (
                            e.emp_idx LIKE '%' || #{keyword} || '%'
                            OR e.emp_name LIKE '%' || #{keyword} || '%'
                        )
                    </otherwise>
                </choose>
            </if>
            AND e.co_idx = #{coIdx}
        </where>
    </select>

    <select id="findAllEmpCount" parameterType="EmpSearchDTO" resultType="int">
        SELECT COUNT(*)
        FROM employees e
            LEFT JOIN departments d ON e.dept_idx = d.dept_idx
            LEFT JOIN grade g ON e.grd_idx = g.grd_idx
        <where>
            <!-- 선택한 '상위 부서'만 필터링 -->
            <if test="deptUpIdx != null and deptUpIdx != '' and deptUpIdx != '선택'">
                AND (d.dept_up_idx = #{deptUpIdx} OR d.dept_idx = #{deptUpIdx})
            </if>
            
            <!-- 선택한 '상세 부서'만 필터링 -->
            <if test="deptIdx != null and deptIdx != '' and deptIdx != '선택'">
                AND e.dept_idx = #{deptIdx}
            </if>
            
            <!-- 선택한 '직급'만 필터링 -->
            <if test="empGrade != null and empGrade != '' and empGrade != '선택'">
                AND (e.emp_grade = #{empGrade} OR e.emp_grade LIKE '%' || #{empGrade} || '%')
            </if>
            
            <!-- 선택한 '재직 상태'만 필터링 -->
            <if test="empStatus != null and empStatus != '' and empStatus != '선택'">
                AND e.emp_status = #{empStatus}
            </if>
            

            
            <!-- 검색 키워드 & 옵션 처리 -->
            <if test="keyword != null and keyword != '' and keyword != '선택'">
                <choose>
                    <when test="option != null and option == 'empIdx' and option != '전체'">
                        AND e.emp_idx LIKE '%' || #{keyword} || '%'
                    </when>
                    <when test="option != null and option == 'empName' and option != '전체'">
                        AND e.emp_name LIKE '%' || #{keyword} || '%'
                    </when>
                    <otherwise>
                        <!-- 옵션이 없거나 그 외의 값일 때 둘 다 검색 -->
                        AND (
                            e.emp_idx LIKE '%' || #{keyword} || '%'
                            OR e.emp_name LIKE '%' || #{keyword} || '%'
                        )
                    </otherwise>
                </choose>
            </if>
            AND e.co_idx = #{coIdx}
        </where>
    </select>

    <update id="updateEmployee" parameterType="EmployeeDTO">
        MERGE INTO employee e
        USING (
            SELECT #{empIdx}, #{empName}, #{rrnPfx}, #{rrnSfx}, #{empEmail}, #{deptIdx}, #{empGrade}, #{empType}, #{empRegdate},
                #{empAccount}, #{empPhone}, #{empPw}, #{empAddr}, #{empAddrDetail}, #{empAddrZip}, #{coIdx}, #{empImg}
            FROM dual
        ) src
    </update>
</mapper>