<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eflix.bsn.mapper.QuotationMapper">
    <select id="getQuotationList" resultType="com.eflix.bsn.dto.QuotationDTO">
        SELECT
            QUOTATION_NO       AS quotationNo,
            CUSTOMER_CD        AS customerCd,
            CUSTOMER_NAME      AS customerName,
            TO_CHAR(QUOTATION_DT, 'YYYY-MM-DD')      AS quotationDt,
            TO_CHAR(VALID_PERIOD, 'YYYY-MM-DD')      AS validPeriod,
            EMP_CD             AS empCd,
            PHONE              AS phone,
            DELIVERY_LOCATION  AS deliveryLocation,
            TO_CHAR(EXPECTED_DELIVERY_DT, 'YYYY-MM-DD') AS expectedDeliveryDt,
            PAYMENT_TERMS      AS paymentTerms
        FROM QUOTATION
        ORDER BY QUOTATION_NO
    </select>

    <insert id="insertQuotation" parameterType="com.eflix.bsn.dto.QuotationDTO">
        INSERT INTO QUOTATION (
            QUOTATION_NO,
            CUSTOMER_CD,
            CUSTOMER_NAME,
            QUOTATION_DT,
            VALID_PERIOD,
            EMP_CD,
            PHONE,
            DELIVERY_LOCATION,
            EXPECTED_DELIVERY_DT,
            PAYMENT_TERMS
        ) VALUES (
            #{quotationNo},
            #{customerCd},
            #{customerName},
            TO_DATE(#{quotationDt}, 'YYYY-MM-DD'),
            TO_DATE(#{validPeriod}, 'YYYY-MM-DD'),
            #{empCd},
            #{phone},
            #{deliveryLocation},
            TO_DATE(#{expectedDeliveryDt}, 'YYYY-MM-DD'),
            #{paymentTerms}
        )
    </insert>
</mapper>
