<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eflix.bsn.mapper.QuotationMapper">
    <select id="getQuotationList" resultType="com.eflix.bsn.dto.QuotationDTO">
        SELECT
            QUOTATION_NO       AS quotationNo,
            CUSTOMER_CD        AS customerCd,
            CUSTOMER_NAME      AS customerName,
            QUOTATION_DT      AS quotationDt,
            VALID_PERIOD     AS validPeriod,
            EMP_CD             AS empCd,
            PHONE              AS phone,
            EXPECTED_DELIVERY_DT AS expectedDeliveryDt,
            PAYMENT_TERMS      AS paymentTerms
        FROM QUOTATION
        ORDER BY QUOTATION_NO
    </select>

    <insert id="insertQuotation" parameterType="com.eflix.bsn.dto.QuotationDTO">
    INSERT INTO EFLIX.QUOTATIONS (
        QUOTATION_NO, CUSTOMER_CD, CUSTOMER_NAME, QUOTATION_DT,
        VALID_PERIOD, EMP_CD, PHONE, EXPECTED_DELIVERY_DT,
        PAYMENT_TERMS, ATTACHMENT_PATH
    ) VALUES (
        #{quotationNo}, #{customerCd}, #{customerName},
        #{quotationDt}, #{validPeriod}, #{empCd}, #{phone},
        #{expectedDeliveryDt}, #{paymentTerms}, #{attachmentPath}
    )
    </insert>

    <insert id="insertQuotationDetail" parameterType="com.eflix.bsn.dto.QuotationDetailDTO">
        INSERT INTO EFLIX.QUOTATION_DETAIL (
        QUOTATION_NO, LINE_NO, ITEM_CODE, ITEM_NAME,
        SPEC, QTY, UNIT_PRICE, TOTAL_MONEY, TAX_AMOUNT, REMARKS
        ) VALUES (
        #{quotationNo}, #{lineNo}, #{itemCode}, #{itemName},
        #{spec}, #{qty}, #{unitPrice}, #{totalMoney}, #{taxAmount}, #{remarks}
    )
    </insert>
</mapper>
