<!--
============================================
	- 작성자   : 복성민
	- 최초작성 : 2025-06-18
	- 설명    : E-FLIX 페이지 topbar 모듈
--------------------------------------------
	[ 변경 이력 ]
	- 2025-06-18 (복성민): 파일생성 및 기본 코드 추가
============================================
-->
<nav th:fragment="topbar" class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
	<div class="container px-5">
		<a class="navbar-brand fw-bold fw-large" href="/#page-top" style="color: orange;">E-FLIX</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
			aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			Menu <i class="bi-list"></i>
		</button>

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
				<li class="nav-item"><a class="nav-link me-lg-3" href="/#main">홈</a></li>
				<li class="nav-item"><a class="nav-link me-lg-3" href="/#introduce">소개글</a></li>
				<li class="nav-item"><a class="nav-link me-lg-3" href="/#price">요금제 및 가격</a></li>
			</ul>

			<!-- 문의 버튼 -->
			<button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0 me-2" data-bs-toggle="modal"
				data-bs-target="#qnaModal">
				<span class="d-flex align-items-center">
					<i class="bi-chat-text-fill me-2"></i>
					<span class="small">문의</span>
				</span>
			</button>

			<!-- 비로그인 상태 버튼들 -->
			<div class="d-flex flex-column flex-lg-row gap-2" sec:authorize="!isAuthenticated()">
				<button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal"
					data-bs-target="#loginModal">
					<span class="d-flex align-items-center justify-content-center">
						<span>로그인</span>
					</span>
				</button>
				<button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal"
					data-bs-target="#signupModal">
					<span class="d-flex align-items-center justify-content-center">
						<span>회원가입</span>
					</span>
				</button>
			</div>

			<!-- 로그인 상태 버튼들 -->
			<div class="d-flex flex-column flex-lg-row gap-2" sec:authorize="isAuthenticated()">
				<button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" id="signoutBtn">
					<span class="d-flex align-items-center justify-content-center">
						<span th:text="${session.userName}"></span>
					</span>
				</button>
				<button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0">
					<span class="d-flex align-items-center justify-content-center">
						<a class="text-decoration-none text-white" href="/mypage">내정보</a>
					</span>
				</button>
				<button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" sec:authorize="hasRole('ADMIN')">
					<span class="d-flex align-items-center justify-content-center">
						<a class="text-decoration-none text-white" href="/admin">관리자</a>
					</span>
				</button>
			</div>
		</div>
	</div>
</nav>