<!--
============================================
	- 작성자   : 복성민
	- 최초작성 : 2025-06-18
	- 설명    : E-FLIX 페이지 메인 모듈
--------------------------------------------
	[ 변경 이력 ]
	- 2025-06-18 (복성민): 파일생성 및 기본 코드 추가
	- 2025-06-25 (복성민): sweetAlert 및 회원가입 로직 추가
============================================
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
    crossorigin="anonymous"></script>
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>E-FLIX</title>
	<link rel="icon" type="image/x-icon" th:href="@{/erp/assets/favicon.ico}" />
	<!-- Bootstrap icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Google fonts-->
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap"
		rel="stylesheet" />
	<link
		href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap"
		rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap"
		rel="stylesheet" />

	<!-- Jquery CDN -->
	<script src="https://code.jquery.com/jquery-3.7.1.js"
		integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

	<!-- Core theme CSS (includes Bootstrap)-->
	<link th:href="@{/erp/css/styles.css}" rel="stylesheet" />
	<style>
		.form-check-label {
			margin-left: 0.25rem;
		}
	</style>
</head>

<body id="page-top">
	
    <!-- Navigation-->
	<div th:replace="~{common/erp/fragments/topbar::topbar}"></div>

    <!-- Mashead header-->
    <div layout:fragment="content" class="content"></div>
    
    <!-- Footer -->
    <div th:replace="~{common/erp/fragments/footer::footer}"></div>

	<!-- Modal -->
	<!-- qna Modal-->
	<div class="modal fade" id="qnaModal" tabindex="-1" aria-labelledby="qnaModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header bg-gradient-primary-to-secondary p-4">
					<h5 class="modal-title font-alt text-white" id="qnaModalLabel">문의</h5>
					<button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body border-0 p-4">
					<form id="contactForm" data-sb-form-api-token="API_TOKEN">
						<!-- Name input-->
						<div class="form-floating mb-3">
							<input class="form-control" id="name" type="text" placeholder="이름..."
								data-sb-validations="required" /> <label for="name">성함</label>
							<div class="invalid-qna" data-sb-qna="name:required">성함을
								입력해주세요.</div>
						</div>
						<!-- Email address input-->
						<div class="form-floating mb-3">
							<input class="form-control" id="email" type="email" placeholder="name@example.com"
								data-sb-validations="required,email" /> <label for="email">이메일</label>
							<div class="invalid-qna" data-sb-qna="email:required">이메일을
								입력해주세요.</div>
							<div class="invalid-qna" data-sb-qna="email:email">올바르지
								않은 이메일 형식입니다.</div>
						</div>
						<!-- Phone number input-->
						<!-- Title input -->
						<div class="form-floating mb-3">
							<input class="form-control" id="title" type="text" placeholder="제목..."
								data-sb-validations="required" /> <label for="phone">제목</label>
							<div class="invalid-qna" data-sb-qna="title:required">제목을
								입력해주세요.</div>
						</div>
						<!-- Message input-->
						<!-- content input-->
						<div class="form-floating mb-3">
							<textarea class="form-control" id="content" type="text" placeholder="내용..."
								style="height: 10rem" data-sb-validations="required"></textarea>
							<label for="message">문의 내용</label>
							<div class="invalid-qna" data-sb-qna="content:required">내용을
								입력해주세요.</div>
						</div>

						<!-- Submit success message-->
						<!-- This is what your users will see when the form-->
						<!-- has successfully submitted-->
						<div class="d-none" id="submitSuccessMessage">
							<div class="text-center mb-3">
								<div class="fw-bolder">Form submission successful!</div>
								To activate this form, sign up at <br /> <a
									href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
							</div>
						</div>
						<!-- Submit error message-->
						<!-- This is what your users will see when there is-->
						<!-- an error submitting the form-->
						<div class="d-none" id="submitErrorMessage">
							<div class="text-center text-danger mb-3">Error sending
								message!</div>
						</div>
						<!-- Submit Button-->
						<div class="d-grid">
							<button class="btn btn-primary rounded-pill btn-lg disabled" id="submitButton"
								type="submit">제출</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Login Modal-->
	<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header bg-gradient-primary-to-secondary p-4">
					<h5 class="modal-title font-alt text-white" id="loginModalLabel">로그인</h5>
					<button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body border-0 p-4">
					<form id="loginForm" action="/erp/login" method="post">
						<div class="form-floating mb-3">
							<input class="form-control" id="user_id" name="user_id" type="text" placeholder="아이디..."
								data-sb-validations="required" /> <label for="user_id">아이디</label>
							<div class="invalid-login" data-sb-login="user_id:required">아이디를 입력해주세요.</div>
						</div>
						<div class="form-floating mb-3">
							<input class="form-control" id="user_pw" name="user_pw" type="password" placeholder="****"
								data-sb-validations="required" /> <label for="user_pw">비밀번호</label>
							<div class="invalid-login" data-sb-login="user_pw:required">비밀번호를 입력해주세요.</div>
						</div>
						<div class="d-grid">
							<button class="btn btn-primary rounded-pill btn-lg" id="loginBtn"
								type="submit">로그인</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Register Modal-->
	<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header bg-gradient-primary-to-secondary p-4">
					<h5 class="modal-title font-alt text-white" id="signupModalLabel">회원가입</h5>
					<button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body border-0 p-4">
					<form id="signupForm">
						<div class="form-floating mb-3">
							<input class="form-control" id="userId" name="userId" type="text" placeholder="아이디..."
								data-sb-validations="required" /> <label for="userId">아이디</label>
							<div class="invalid-register" data-sb-register="userId:required">아이디를 입력해주세요.</div>
						</div>
						<div class="d-flex g-2 gap-2">
							<div class="form-floating mb-3">
								<input class="form-control" id="userPw" name="userPw" type="password" placeholder="****"
									data-sb-validations="required" /> <label for="userPw">비밀번호</label>
							</div>
							<div class="form-floating mb-3">
								<input class="form-control" id="userPw_check" name="userPw_check" type="password" placeholder="****"
									data-sb-validations="required" /> <label for="user_pw_check">비밀번호 확인</label>
							</div>
							<div class="invalid-register" data-sb-register="user_pw_check:required">비밀번호를 입력해주세요.</div>
							<div class="invalid-register" data-sb-register="user_pw_check:userPw">비밀번호가 서로 일치하지 않습니다.
							</div>
						</div>
						<div class="form-floating mb-3">
							<input class="form-control" id="userName" name="userName" type="text" placeholder="이름..."
								data-sb-validations="required" /> <label for="userName">이름</label>
							<div class="invalid-register" data-sb-register="userName:required">이름을 입력해주세요.</div>
						</div>
						<div class="form-floating mb-3">
							<input class="form-control" id="userTel" name="userTel" type="text" placeholder="연락처..."
								data-sb-validations="required" /> <label for="userTel">연락처</label>
							<div class="invalid-register" data-sb-register="userTel:required">연락처를 입력해주세요.</div>
						</div>
						<div class="form-floating mb-3">
							<input class="form-control" id="userEmail" name="userEmail" type="text" placeholder="이메일..."
								data-sb-validations="required" /> <label for="userEmail">이메일</label>
							<div class="invalid-register" data-sb-register="userEmail:required">이메일을 입력해주세요.</div>
						</div>
						<div class="d-grid">
							<button class="btn btn-primary rounded-pill btn-lg" id="signUpBtn"
								type="submit">회원가입</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$('#signupForm').on('submit', function(e) {
				e.preventDefault();

				const signupData = $(this).serializeArray().reduce(function(obj, item) {
					obj[item.name] = item.value;
					return obj;
				}, {});

				$.ajax({
					type: "POST",
					url: "/erp/signup",
					data: JSON.stringify(signupData),
					contentType: "application/json",
					success: function(res) {
						if(res.head.res_code === "200") {
							Swal.fire("성공", "회원가입 완료", "success");
						
							$('#signupModal').hide();
							$('.modal-backdrop').remove();
						} else {
							Swal.fire("실패", res.body, "error");
						}
					},
					error: function(xhr, status, err) {
						console.error(err);
						Swal.fire("오류", "서버와 통신 중 문제가 발생했습니다.", "error");
					}
				});
			});
		});
	</script>
	
    <!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

	<!-- SweetAlert2 CSS/JS CDN  -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<!-- Core theme JS-->
	<script th:src="@{/erp/js/scripts.js}"></script>

	<!-- <script th:src="@{/erp/js/home.js}"></script> -->
	<!-- <script th:src="@{/erp/js/erp_home.js}"></script> -->
</body>

</html>