/* ======================================================
 * 작성자: 복성민
 * 작성일: 2025-06-16
 
 * 수정 내역
 * - 2025-06-16 | 복성민 | 컬러 테마 sidebar(#f2f2f2), topbar(#f2f3f4) 색 변경, topbar brand변경
 * ====================================================== */

/* 
efilx topbar 색
 */
.bg-gradient-topbar {
	background-color: #f2f2f2;
	/*   background-image: linear-gradient(180deg, #858796 10%, #60616f 100%); */
	background-size: cover;
}

/* 
efilx sidebar
 */
.bg-gradient-sidebar {
	background-color: #f2f3f4;
	background-image: linear-gradient(180deg, #858796 10%, #60616f 100%);
	background-size: cover;
}

/*
topbar brand
*/
.topbar .topbar-brand {
	height: 4.375rem;
	text-decoration: none;
	font-size: 1rem;
	font-weight: 800;
	padding: 1.5rem 1rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	z-index: 1;
}

.topbar .topbar-brand .topbar-brand-icon i {
	font-size: 2rem;
}

.topbar .topbar-brand .topbar-brand-text {
	display: none;
}

.topbar .topbar-brand .topbar-brand-icon i {
	font-size: 2rem;
}

.topbar .topbar-brand .topbar-brand-text {
	display: inline;
}

.sidebar-light .sidebar-brand {
  color: #6e707e;
}

.sidebar-dark .sidebar-brand {
  color: #fff;
}