<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default}">
<!-- ============================================
  - 작성자   : 이혁진
  - 최초작성 : 2025-00-00
  - 설명     : 재고 조회 (AG Grid 적용)
  -----------------------------------------------
  [ 변경 이력 ]
  - 2025-00-00 (이혁진): 페이지 작업중
============================================ -->
<head>
	<title>재고조회</title>
</head>
<div layout:fragment="content" class="container-fluid">
	<div class="d-flex justify-content-between align-items-center mb-4">
		<h2>재고조회</h2>
	</div>
</div>

</html>