<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default}">
<head>
	<title>창고조회</title>
</head>

<div layout:fragment="content" class="container-fluid">

	<div class="d-flex justify-content-between align-items-center mb-0">
		<h2>출고조회</h2>
	</div>
	<div class="card border-0">
		<div class="card-body ps-0 	pt-0">
			<!-- <h5 class="text-center mb-4">출고 요청</h5> -->
			<div class="row mb-3 align-items-end">
				<div class="col-md-2">
					<label class="form-label mb-0">출고ID</label>
					<select class="form-control form-control-sm" id="outboundList">
						<option value=''>선택</option>
						<option th:each="ob : ${searchId}" th:value="${ob.outboundId}"
							th:text="${wh.outboundId}"></option>
					</select>
				</div>
				<div class="col-md-2">
					<label class="form-label mb-0">출고일자</label>
					<select class="form-control form-control-sm" id="warehouseLocationInput">
						<option value=''>선택</option>
						<option th:each="wh : ${whlocationList}" th:value="${wh.warehouseLocation}"
							th:text="${wh.warehouseLocation}"></option>
					</select>
				</div>
				<!-- <div class="col-md-2">
					<label class="form-label mb-0">창고상태</label>
					<select class="form-control form-control-sm" id="warehouseStatusSelect">
						<option value='' selected>선택</option>
						<option value="재고존재">재고존재</option>
						<option value="비었음">비었음</option>
					</select>
				</div> -->
				<div class="col-md-2">
					<button class="btn btn-primary btn-sm mt-2" id="searchBtn">검색</button>
				</div>
			</div>
			<!-- AG Grid: 창고조회 -->
			<div class="grid-container mb-4" style="height: 40vh; width: 100%;">
				<div id="outboundViewList" class="ag-theme-alpine" style="width: 100%; height: 100%;"></div>
			</div>
		</div>
	</div>
	<!-- 모달: 창고 상세 정보 -->
	<div class="modal fade" id="outboundDetailModal" tabindex="-1">
		<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
			style="width: 600px; max-width: 90%; height: 400px;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">출고 상세 정보</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body">
					<table class="table table-sm table-bordered" id="outboundDetailTable">
						<thead>
							<tr>
								<th>출고ID</th>
								<th>창고ID</th>
								<th>제품ID</th>
								<!-- <th>제품명</th> -->
								<th>수량</th>
							</tr>
						</thead>
						<tbody id="outboundDetailTableBody">
							<!-- JS로 제품 정보 삽입 -->
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<!-- 오른쪽 하단에 PDF 버튼 -->
					<button id="downloadPdfBtn" type="button" class="btn btn-primary">PDF 다운로드</button>
				</div>
			</div>
		</div>
	</div>
</div>

</html>
<script th:inline="javascript">
	let outboundViewList = /*[[${obdView}]]*/ [];
	let searchId = /*[[${searchId}]]*/ [];
	let outboundViewGrid;

	const gridOptions = {
		headerHeight: 35,
		rowHeight: 35,
		rowData: outboundViewList,
		columnDefs: [
			{ headerName: "출고ID", field: "outboundId", editable: false },
			{ headerName: "출고로트", field: "outboundLot", editable: false },
			{ headerName: "출고의로번호", field: "outboundNumber", editable: false, cellStyle: {textAlign: 'right'} },
			{ headerName: "출고일", field: "outboundDate", editable: false, cellStyle: {textAlign: 'right'} },
			{ headerName: "출고담당자", field: "outboundManager", editable: false }
		],
		onRowClicked: (event) => {
			const outboundId = event.data.outboundId;

			fetch(`/purchs/obdViewDetail?outboundId=${outboundId}`)
				.then(res => res.json())
				.then(data => {
					const tbody = document.getElementById("outboundDetailTableBody");

					if (data.length === 0) {
						tbody.innerHTML = `<tr><td colspan="3" class="text-center">제품 정보 없음</td></tr>`;
					} else {
						tbody.innerHTML = data.map(item => `
          <tr>
            <td>${item.outboundId}</td>
            <td>${item.warehouseId}</td>
            <td>${item.prodId}</td>
            <td>${item.outboundQuantity}</td>
          </tr>
        `).join("");
					}

					const modal = new bootstrap.Modal(document.getElementById("outboundDetailModal"));
					modal.show();
				})
				.catch(err => {
					console.error("모달 로딩 실패", err);
				});
		},
		onGridReady: (params) => {
			gridOptions.api = params.api;
			params.api.sizeColumnsToFit();
		}
	};

	window.addEventListener('resize', () => {
		if (gridOptions.api) {
			gridOptions.api.sizeColumnsToFit();
		}
	});

	// 그리드 초기화
	document.addEventListener('DOMContentLoaded', () => {
		warehouseViewGrid = agGrid.createGrid(document.querySelector("#outboundViewList"), gridOptions);
	});

	document.querySelector('#searchBtn').addEventListener('click', function () {

		let outboundId = document.querySelector('#warehouseIdInput').value;
		let warehouseLocation = document.querySelector('#warehouseLocationInput').value;
		let warehouseStatus = document.querySelector('#warehouseStatusSelect').value;
		let param = `warehouseId=${warehouseId}&warehouseLocation=${warehouseLocation}&existProd=${warehouseStatus}`
		fetch(`/purchs/whData?${param}`)
			.then(res => res.json())
			.then(data => {
				outboundViewGrid.setGridOption("rowData", data);
			})
	});
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>