<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ============================================
  - 작성자   : 김희정
  - 최초작성 : 2025-06-19
  - 설명     : accountMapper query xml
  [ 변경 이력 ]
  - 2025-06-19 (김희정): 계정과목 전체조회 작성
	- 2025-06-23 (김희정): 단건 조회(accountCode) 작성
=============================================== -->
<mapper namespace="com.eflix.acc.mapper.AccountMapper">
	<!-- 계정과목 전체조회 -->
	<select id="getList" resultType="com.eflix.acc.dto.AccountDTO">
		SELECT
			account_code,
			account_name,
			account_type,
			standard_account_name,
			standard_english_name,
			major_category,
			middle_category,
			minor_category,
			use_flag,
			created_at,
			updated_at,
			remarks
		FROM
			account
		ORDER BY
			account_code
	</select>

	<!-- 계정과목 코드로 계정과목 조회 -->
  <select id="getListByCode" parameterType="int" resultType="com.eflix.acc.dto.AccountDTO">
    SELECT * 
    FROM account 
    WHERE account_code = #{accountCode} 
  </select>
</mapper>