<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eflix.purchs.mapper.OutboundMapper">
<!-- 출하 의뢰서 조회 -->
<select id="selectOutboundRequest" resultType="OutboundDTO">
SELECT
    outbound_no,
    write_dt,
    customer_name,
    representative_nm,
    order_dt,
    outbound_dt,
    remarks
FROM 
    sales_outbound
ORDER BY 
    outbound_no
</select>
<!-- 출하 의뢰서 조회 상세 -->
<select id="outboundRequestDetail" resultType="OutboundDTO" parameterType="String">
SELECT
    sd.order_no AS outbound_no,
    sd.item_name AS prod_name,
    sd.standard AS standard,
    sd.qty AS outbound_quantity,
    sd.outbound_detail_status AS status,
    sd.remarks AS remarks
FROM 
    soutbound_detail sd
WHERE 
    sd.order_no = #{outboundNo}
</select>

<!-- 출고 기능-->
<select id="outboundProcedure" resultType="OutboundDTO" parameterType="OutboundDTO">
CALL OUTBOUND_PROCEDURE(
    #{memo},
    #{manager},
    #{outboundNo},
    #{warehouseId},
    #{prodId},
    #{outbound_quantity}
)
</select>
</mapper>