<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eflix.purchs.mapper.OutboundMapper">
<!-- 출하 의뢰서 조회 -->
<select id="selectOutboundRequest" resultType="OutboundDTO">
SELECT
    so.outbound_no AS outbound_no,
    so.customer_name AS customer_name,
    so.representative_nm AS representative_nm,
    so.order_dt AS order_dt,
    so.outbound_dt AS outbound_dt
FROM sales_outbound so
WHERE so.outbound_no IN (
    SELECT DISTINCT outbound_no
    FROM soutbound_detail
    WHERE outbound_status = '대기'
)
</select>
<!-- 출하 의뢰서 조회 상세 -->
<select id="outboundRequestDetail" resultType="OutboundDTO" parameterType="String">
SELECT
    outbound_no,
    item_name AS prod_name,
    standard,
    qty AS outbound_quantity,
    outbound_status,
    remarks AS memo
FROM
    soutbound_detail
WHERE
    outbound_no = #{outboundNo}
</select>

<!-- 출고 기능-->
<select id="outboundProcedure" resultType="OutboundDTO" parameterType="OutboundDTO">
CALL OUTBOUND_PROCEDURE(
    #{memo},
    #{manager},
    #{outboundNo},
    #{warehouseId},
    #{prodId},
    #{outboundQuantity}
)
</select>
</mapper>