<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eflix.purchs.mapper.WarehouseMapper">

  <select id="getWarehouse" resultType="WarehouseDTO">
      SELECT * 
      FROM warehouse
  </select>

  <insert id="insertWarehouse" parameterType="WarehouseDTO">
      INSERT INTO warehouse (warehouse_id, warehouse_location, warehouse_scale, warehouse_manager) VALUES
      (#{warehouseId},#{warehouseLocation},#{warehouseScale},#{warehouseManager})
  </insert>

  <delete id="deleteWarehouse" parameterType="WarehouseDTO">
      BEGIN
        WAREHOUSE_ID_PROCEDURE(#{warehouseId});
      END;
  </delete>

</mapper>
