<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eflix.purchs.mapper.WhMovementMapper">
<!-- 제품명 조회 (prod_id)-->
<select id="searchProdIdList" parameterType="WhMovementDTO">
  SELECT prod_name FROM prod WHERE prod_inbound_status = 'pis01'
</select>
</mapper>