<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layouts/default}">
<!-- ============================================
  - 작성자   : 김희정
  - 최초작성 : 2025-06-18
  - 설명     : 계정과목관리 화면
  -----------------------------------------------
  [ 변경 이력 ]
  - 2025-06-18 (김희정): title 및 내용 추가, ag-grid 적용, ag-grid 입력 테스트
  - 2025-06-19 (김희정): 계정과목 전체 조회 API 연동, ag-grid 연동
  - 2025-06-20 (김희정): ag-grid 필터링(radio버튼) 기능 추가, 공통코드 데이터포맷, 행높이 및 셀너비 지정
============================================ -->

<head>
  <title>계정과목관리</title>
</head>
<div layout:fragment="content">
  <div class="w-100" id="account">
    <div class="d-flex justify-content-between align-items-center mb-1">
      <h3>계정과목관리</h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="radio-group">
          <input type="radio" class="btn-check" name="accountFilter" id="all" autocomplete="off" data-category="전체" checked>
          <label class="btn btn-outline-secondary btn-sm me-1" for="all">전체</label>

          <input type="radio" class="btn-check" name="accountFilter" id="asset" autocomplete="off" data-category="자산">
          <label class="btn btn-outline-secondary btn-sm me-1" for="asset">자산</label>

          <input type="radio" class="btn-check" name="accountFilter" id="liability" autocomplete="off" data-category="부채">
          <label class="btn btn-outline-secondary btn-sm me-1" for="liability">부채</label>

          <input type="radio" class="btn-check" name="accountFilter" id="capital" autocomplete="off" data-category="자본">
          <label class="btn btn-outline-secondary btn-sm me-1" for="capital">자본</label>

          <input type="radio" class="btn-check" name="accountFilter" id="income" autocomplete="off" data-category="수익">
          <label class="btn btn-outline-secondary btn-sm me-1" for="income">수익</label>

          <input type="radio" class="btn-check" name="accountFilter" id="cost" autocomplete="off" data-category="비용">
          <label class="btn btn-outline-secondary btn-sm" for="cost">비용</label>
        </div>
      </div>
    </div>

    <div class="grid-container" style="height:100vh;">
      <div id="accountGrid" class="ag-theme-alpine" style="width:100%; height:75%;"></div>
    </div>
  </div>
  <script th:inline="javascript">
    // 전체조회 API
    let accountList = /*[[${accountList}]]*/ [];

    // ag-Grid 세팅
    const gridOptions = {
      // 헤더 높이 지정
      headerHeight: 35,
      // 행 높이 지정
      rowHeight: 35,
      theme: 'legacy',
      // 그리드 values 배열
      rowData: accountList,
      // 그리드 필드명 정의
      columnDefs: [
        { headerName: "코드", field: "account_code", editable: false, minWidth: 60, maxWidth: 60 },
        { headerName: "계정과목명", field: "account_name", editable: true },
        { headerName: "구분", field: "account_type", editable: false, minWidth: 70, maxWidth: 70,
          cellEditor: 'agSelectCellEditor', // 드롭다운 세팅 (사용자정의)
          cellEditorParams: {  values: ['일반', '차감'] }, // 실제 DB 값
          valueFormatter: params => { // 보여줄때
            if (params.value === 'i1') return '일반';
            if (params.value === 'i2') return '차감';
            return params.value;
          },
          valueParser: params => { // 사용자가 편집한 후 저장할 때
            if (params.newValue === '일반') return 'i1';
            if (params.newValue === '차감') return 'i2';
            return params.newValue;
          }
        },
        { headerName: "표준계정과목명", field: "standard_account_name", editable: false, minWidth: 210, maxWidth: 210 },
        { eaderName: "표준영문명", field: "standard_english_name", editable: false },
        { headerName: "대분류", field: "major_category", editable: false, filter: true, minWidth: 90, maxWidth: 90 }, // 필터 적용
        { headerName: "중분류", field: "middle_category", editable: false, minWidth: 130, maxWidth: 130 },
        { headerName: "소분류", field: "minor_category", editable: false, minWidth: 130, maxWidth: 130 },
        { headerName: "사용", field: "use_flag", editable: true, minWidth: 60, maxWidth: 60,
          cellEditor: 'agCheckboxCellEditor', // 체크박스 세팅
          cellRenderer: 'agCheckboxCellRenderer', // 체크박스 렌더러(체크박스 UI 표시)
          valueGetter: params => params.data.use_flag === 'a1', // DB 값이 'a1'이면 체크됨 'a1' => true 변환 (렌더러/에디터가 받는 값)
          valueParser: params => params.newValue ? 'a1' : 'a2', // 사용자가 체크박스를 클릭했을 때 저장할 값
        }
      ],
      // 행 선택 방식을 지정
      rowSelection: {
        mode: 'multiRow', // 'single'==> 단일 선택, 'multiRow' ==> 다중 선택
      },
      // onGridReady => 그리드가 완전히 로드되고 준비되었을 때 실행되는 콜백 함수
      onGridReady: (params) => {
        gridOptions.api = params.api; // AG Grid에서 제공하는 API 객체들을 gridOptions에 저장 => 필터나 정렬 등 그리드 조작

        // radio 버튼 클릭 시 필터 적용
        document.querySelectorAll('input[name="accountFilter"]').forEach(radio => {
          radio.addEventListener('change', function () {
            const category = this.getAttribute('data-category');
            applyMajorCategoryFilter(category); // 필터 적용 함수 실행 (선택된 카테고리에 맞춰 그리드 필터링)
          });
        });
        // 필터 적용 함수
        function applyMajorCategoryFilter(category) {
          if (!category || category === '전체') {
            gridOptions.api.setFilterModel(null); // 필터 해제
          } else {
            gridOptions.api.setFilterModel({
              major_category: {
                type: 'equals',
                filter: category
              }
            });
          }
        }
      }
    };
    // 그리드 생성
    agGrid.createGrid(document.querySelector("#accountGrid"), gridOptions);
  </script>
</div>