<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layouts/default}">
<!-- ============================================
  - 작성자   : 김희정
  - 최초작성 : 2025-06-18
  - 설명     : 원가명세서 화면
  -----------------------------------------------
  [ 변경 이력 ]
  - 2025-06-18 (김희정): title 및 내용 추가
============================================ -->
<head>
  <title>원가명세서</title>
</head>
<div layout:fragment="content">
  <div id="cost-statement">
    <h2>원가명세서</h2>
    <p>원가명세서 화면입니다.</p>
  </div>
</div>