<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layouts/default}">
<!-- ============================================
  - 작성자   : 김희정
  - 최초작성 : 2025-06-18
  - 설명     : 손익계산서 화면
  -----------------------------------------------
  [ 변경 이력 ]
  - 2025-06-18 (김희정): 예시
============================================ -->

<div layout:fragment="content">
  <div id="income-statement">
    <h2>손익계산서</h2>
    <p>손익계산서 화면입니다.</p>
  </div>
</div>