<li th:fragment="bsn"
    class=""
    th:class="${activeMenu == 'bsn'} ? 'nav-item active' : 'nav-item'">
  <a class="nav-link collapsed"
     href="#"
     data-toggle="collapse"
     data-target="#collapseBsn"
     aria-expanded=""
     th:attr="aria-expanded=${activeMenu == 'bsn'}"
     aria-controls="collapseBsn">
    <i class="fas fa-fw fa-folder"></i>
    <span>영업</span>
  </a>
  <div id="collapseBsn"
       class="collapse"
       th:classappend="${activeMenu == 'bsn'} ? ' show' : ''"
       aria-labelledby="headingBsn"
       data-parent="#accordionsidebar">
    <div class="bg-white py-2 collapse-inner rounded">

      <a th:class="${activeSubMenu == 'bsn'} ? 'collapse-item active' : 'collapse-item'"
         href="/bsn">영업 관리</a>

      <h6 class="collapse-header">견적서 관리:</h6>
      <a th:class="${activeSubMenu == 'qot_list'} ? 'collapse-item active' : 'collapse-item'"
         href="/bsn/qot_list">견적서 조회</a>
      <a th:class="${activeSubMenu == 'qot'} ? 'collapse-item active' : 'collapse-item'"
         href="/bsn/qot">견적서 등록</a>

      <h6 class="collapse-header">주문서 관리:</h6>
      <a th:class="${activeSubMenu == 'order_management'} ? 'collapse-item active' : 'collapse-item'"
         href="/bsn/order_management">주문서 관리</a>

      <h6 class="collapse-header">출고 관리:</h6>
      <a th:class="${activeSubMenu == 'soutbound'} ? 'collapse-item active' : 'collapse-item'"
         href="/bsn/soutbound">출고 관리</a>

      <h6 class="collapse-header">수금 관리:</h6>
      <a th:class="${activeSubMenu == 'dashboard'} ? 'collapse-item active' : 'collapse-item'"
      href="/bsn/dashboard">영업 대시보드</a>
      <a th:class="${activeSubMenu == 'accounts'} ? 'collapse-item active' : 'collapse-item'"
         href="/bsn/accounts">미수금 관리</a>
      <a th:class="${activeSubMenu == 'customer_management'} ? 'collapse-item active' : 'collapse-item'"
         href="/bsn/customer_management">거래처 관리</a>

    </div>
  </div>
</li>
