
<!--     <li th:fragment="hr" class="nav-item">
		<a class="nav-link" href="charts.html">
			<i class="fas fa-fw fa-chart-area"></i>
			<span>인사</span>
		</a>
	</li> -->
	<li th:fragment="hr" class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseHr" aria-expanded="true" aria-controls="collapseHr">
			<i class="fas fa-fw fa-folder"></i>
			<span>인사</span>
		</a>
		<div id="collapseHr" class="collapse" aria-labelledby="headingHr" data-parent="#accordionsidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">login screens:</h6>
				<a class="collapse-item" href="login.html">login</a>
				<a class="collapse-item" href="register.html">register</a>
				<a class="collapse-item" href="forgot-password.html">forgot password</a>
				<div class="collapse-divider"></div>
				<h6 class="collapse-header">other pages:</h6>
				<a class="collapse-item" href="404.html">404 page</a>
				<a class="collapse-item" href="blank.html">blank page</a>
			</div>
		</div>
	</li>