<!-- ============================================
  - 작성자   : 김어진
  - 최초작성 : 2025-06-18
  - 설명     : 인사 navigation 메뉴
  -----------------------------------------------
  [ 변경 이력 ]
  - 2025-06-18 (김어진): 인사파트 메뉴 추가 및 링크 연결
  - 2025-06-19 (김어진): 인사파트 메뉴 추가 및 링크 연결
  - 2025-06-21 (복성민): 메뉴 활성화 코드 추가
============================================ -->

<li th:fragment="hr" class="" th:class="${activeMenu == 'hr'} ? 'nav-item active' : 'nav-item'">
	<a class="nav-link" href="#" data-toggle="collapse"
		data-target="#collapseHr" aria-expanded="" th:attr="aria-expanded=${activeMenu == 'hr'}"
		aria-controls="collapseHr">
		<i class="fas fa-fw fa-folder"></i>
		<span>인사</span>
	</a>
	<div id="collapseHr" class="collapse" th:classappend="${activeMenu == 'hr'} ? ' show' : ''" aria-labelledby="headingHr" data-parent="#accordionsidebar">
		<div class="bg-white py-2 collapse-inner rounded">

			<a class="" th:class="${activeMenu  == 'hr' && activeSubMenu == ''} ? 'collapse-item active' : 'collapse-item'" href="/hr">인사관리</a>

			<h6 class="collapse-header">조직관리:</h6>
			<a class="" th:class="${activeSubMenu == 'dept'} ? 'collapse-item active' : 'collapse-item'"
				href="/hr/dept">부서관리</a>
			<a class="" th:class="${activeSubMenu == 'grd'} ? 'collapse-item active' : 'collapse-item'"
				href="/hr/grd">직급관리</a>
			<a class="" th:class="${activeSubMenu == 'emp'} ? 'collapse-item active' : 'collapse-item'"
				href="/hr/emp">사원관리</a>

			<h6 class="collapse-header">근태관리:</h6>
			<a class="" th:class="${activeSubMenu == 'attd' && active3rdMenu == ''} ? 'collapse-item active' : 'collapse-item'"
				href="/hr/attd">근태현황</a>
			<a class="" th:class="${activeSubMenu == 'attd' && active3rdMenu == 'req'} ? 'collapse-item active' : 'collapse-item'"
				href="/hr/attd/req">근태신청</a>
			<div th:if="${session.roleId == 'RO01' || session.role == 'ROLE_MASTER'}">
				<a class="" th:class="${activeSubMenu == 'attd' && active3rdMenu == 'mgr'} ? 'collapse-item active' : 'collapse-item'"
					href="/hr/attd/mgr" >근태관리</a>
				<a class="" th:class="${active3rdMenu == 'reqMgr'} ? 'collapse-item active' : 'collapse-item'"
					href="/hr/attd/reqMgr">근태신청승인</a>
			</div>

			<h6 class="collapse-header">휴가관리:</h6>
			<a class="" th:class="${activeSubMenu == 'va' && active3rdMenu == 'req'} ? 'collapse-item active' : 'collapse-item'"
				href="/hr/va/req">휴가 신청</a>
			<a class="" th:if="${session.roleId == 'RO01' || session.role == 'ROLE_MASTER'}" th:class="${activeSubMenu == 'va' && active3rdMenu == 'mgr'} ? 'collapse-item active' : 'collapse-item'"
				href="/hr/va/mgr">휴가 관리</a>

			<h6 class="collapse-header">급여관리:</h6>
			<div th:if="${session.roleId == 'RO01' || session.role == 'ROLE_MASTER'}">
				<a class="" th:class="${active3rdMenu == 'item'} ? 'collapse-item active' : 'collapse-item'"
					href="/hr/salary/item">급여항목</a>
				<a class="" th:class="${active3rdMenu == 'calc'} ? 'collapse-item active' : 'collapse-item'"
					href="/hr/salary/calc">급여계산</a>
			</div>
			<a class="" th:class="${active3rdMenu == 'stub'} ? 'collapse-item active' : 'collapse-item'"
				href="/hr/salary/stub">급여명세서</a>

		</div>
	</div>
</li>