<li th:fragment="purchs" class="" th:class="${activeMenu == 'purchs'} ? 'nav-item active' : 'nav-item'">
	<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePurchs" aria-expanded=""
		th:attr="aria-expanded=${activeMenu == 'purchs'}" aria-controls="collapsePurchs">
		<i class="fas fa-fw fa-chart-area"></i>
		<span>재고</span>
	</a>
	<div id="collapsePurchs" class="collapse" th:classappend="${activeMenu == 'purchs'} ? ' show' : ''"
		aria-labelledby="headingPurch" data-parent="#accordionsidebar">
		<div class="bg-white py-2 collapse-inner rounded">
			<a class="" th:class="${activeSubMenu == 'cgy'} ? 'collapse-item active' : 'collapse-item'" href="/purchs/cgy">재고관리목록</a>
			<h6 class="collapse-header">창고</h6>
			<a class="" th:class="${activeSubMenu == 'wh'} ? 'collapse-item active' : 'collapse-item'" href="/purchs/wh">창고관리</a>
			<a class="" th:class="${activeSubMenu == 'whm'} ? 'collapse-item active' : 'collapse-item'" href="/purchs/whm">창고이동</a>
			<h6 class="collapse-header">입•출고</h6>
			<a class="" th:class="${activeSubMenu == 'ibd'} ? 'collapse-item active' : 'collapse-item'" href="/purchs/ibd">입고관리</a>
			<a class="" th:class="${activeSubMenu == 'obd'} ? 'collapse-item active' : 'collapse-item'" href="/purchs/obd">출고관리</a>
			<h6 class="collapse-header">조회</h6>
			<a class="" th:class="${activeSubMenu == 'ibdv'} ? 'collapse-item active' : 'collapse-item'" href="/purchs/ibdv">입고조회</a>
			<a class="" th:class="${activeSubMenu == 'obdv'} ? 'collapse-item active' : 'collapse-item'" href="/purchs/obdv">출고조회</a>
			<a class="" th:class="${activeSubMenu == 'whv'} ? 'collapse-item active' : 'collapse-item'" href="/purchs/whv">창고조회</a>
			<a class="" th:class="${activeSubMenu == 'ivyv'} ? 'collapse-item active' : 'collapse-item'" href="/purchs/ivyv">재고조회</a>
			<div class="collapse-divider"></div>
		</div>
	</div>
</li>