<!--
============================================
	- 작성자   : 복성민
	- 최초작성 : 2025-06-18
	- 설명    : E-FLIX 페이지 footer 모듈
--------------------------------------------
	[ 변경 이력 ]
	- 2025-06-18 (복성민): 파일생성 및 기본 코드 추가
============================================
-->
<footer th:fragment="footer" class="bg-black text-center py-5">
		<div class="container px-5">
			<div class="text-white-50 small">
				<div class="mb-2">&copy; Your Website 2023. All Rights
					Reserved.</div>
				<a href="#!">Privacy</a> <span class="mx-1">&middot;</span> <a href="#!">Terms</a> <span
					class="mx-1">&middot;</span> <a href="#!">FAQ</a>
			</div>
		</div>
	</footer>