<!--
============================================
	- 작성자   : 복성민
	- 최초작성 : 2025-06-18
	- 설명    : E-FLIX 페이지 topbar 모듈
--------------------------------------------
	[ 변경 이력 ]
	- 2025-06-18 (복성민): 파일생성 및 기본 코드 추가
============================================
-->
<nav th:fragment="topbar" class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
		<div class="container px-5">
			<a class="navbar-brand fw-bold fw-large" href="/erp#page-top" style="color: orange;">E-FLIX</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				Menu <i class="bi-list"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
					<li class="nav-item"><a class="nav-link me-lg-3" href="/erp#main">홈</a></li>
					<li class="nav-item"><a class="nav-link me-lg-3" href="/erp#introduce">소개글</a></li>
					<li class="nav-item"><a class="nav-link me-lg-3" href="/erp#price">요금제 및 가격</a></li>
				</ul>
			</div>
			<div class="d-flex justify-content-between mx-2" sec:authorize="!isAuthenticated()">
				<div class="mx-2">
					<button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal"
						data-bs-target="#loginModal">
						<span class="d-flex align-items-center"><span>로그인</span></span>
					</button>
				</div>
				<div>
					<button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal"
						data-bs-target="#signupModal">
						<span class="d-flex align-items-center"><span>회원가입</span></span>
					</button>
				</div>
			</div>
			<div class="d-flex justify-content-between mx-2" sec:authorize="isAuthenticated()">
				<div class="mx-2">
					<button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" id="signoutBtn">
						<span class="d-flex align-items-center"><span th:text="${#authentication.principal.getUsername}"></span></span>
					</button>
				</div>
				<div>
					<button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal"
						data-bs-target="#signupModal">
						<span class="d-flex align-items-center"><a class="text-decoration-none text-white" href="/erp/mypage_info">내정보</a></span>
					</button>
				</div>
			</div>
			<button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#qnaModal">
				<span class="d-flex align-items-center"> <i class="bi-chat-text-fill me-2"></i> <span class="small">문의</span>
				</span>
			</button>
		</div>
	</nav>